
<h3>Welcome <span class="username"><%=username %>!</span></h3>
<h3 class="text"> Your name: <span><%=name %> </span> </h3>
<h3 class="text"> Email:<span> <%=email %> </span> </h3>
<h3 class="text"> Country: <span><%=country %> </span> </h3>
<h3>You have been here for: <%=time %> </h3>
</div>
